{
	"fkeysOnCaps": 0,
	"httpPluginPathEquip": "http://localhost:8081/equip",
	"httpPluginPathEvents": "http://localhost:8081/events",
	"httpPluginPathInv": "http://localhost:8081/inv",
	"httpPluginPathStats": "http://localhost:8081/stats",
	"invSlot1Pos": "1218,667",
	"menu-clan": {
		"colorOff": "0x5C5449",
		"colorOn": "0x4B1914",
		"position": "1254,912",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-combat": {
		"colorOff": "0x796D5C",
		"colorOn": "0x642219",
		"keybind": "F1",
		"position": "1168,623",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-door": {
		"colorOff": "0x7E7161",
		"colorOn": "0x6B241B",
		"keybind": "ESC",
		"position": "1269,908",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-emote": {
		"colorOff": "0x817462",
		"colorOn": "0x6B241B",
		"keybind": "F8",
		"position": "1337,918",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-equip": {
		"colorOff": "0x4B4640",
		"colorOn": "0x3C1510",
		"keybind": "F5",
		"position": "1321,626",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-friend": {
		"colorOff": "0x5C5449",
		"colorOn": "0x4B1914",
		"position": "1221,912",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-ignore": {
		"colorOff": "0x897A65",
		"colorOn": "0x71261D",
		"position": "1165,911",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-inv": {
		"colorOff": "0x75281E",
		"colorOn": "0x75281E",
		"keybind": "F2",
		"position": "1271,613",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-magic": {
		"colorOff": "0x8A7C69",
		"colorOn": "0x71261D",
		"keybind": "F4",
		"position": "1370,612",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-music": {
		"colorOff": "0x4A453B",
		"colorOn": "0x411611",
		"keybind": "F9",
		"position": "1395,916",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-prayer": {
		"colorOff": "0x8E806C",
		"colorOn": "0x75281E",
		"keybind": "F3",
		"position": "1337,614",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-quest": {
		"colorOff": "0x8A7C69",
		"colorOn": "0x75281E",
		"keybind": "F7",
		"position": "1238,613",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-settings": {
		"colorOff": "0x8A7C69",
		"colorOn": "0x71261D",
		"keybind": "F10",
		"position": "1307,913",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"menu-stats": {
		"colorOff": "0x454136",
		"colorOn": "0x39130E",
		"keybind": "F6",
		"position": "1225,615",
		"windowHeight": 955,
		"windowWidth": 1453
	},
	"prayerSwitchHotkeys": 0,
	"protectMagic": {
		"keybind": "a",
		"keycode": 65,
		"windowHeight": 955,
		"windowWidth": 1453,
		"x": 1242,
		"y": 781
	},
	"protectMelee": {
		"keybind": "d",
		"keycode": 68,
		"windowHeight": 955,
		"windowWidth": 1453,
		"x": 1318,
		"y": 781
	},
	"protectMissiles": {
		"keybind": "s",
		"keycode": 83,
		"windowHeight": 955,
		"windowWidth": 1453,
		"x": 1280,
		"y": 781
	},
	"runeliteHeight": 955,
	"runeliteSettingsPath": "C:\\Users\\Antho\\.runelite\\profiles2\\default-110119100097300.properties",
	"runeliteWidth": 1453,
	"runeliteWindow": "RuneLite - katjak4j",
	"runeliteX": 3664,
	"runeliteY": 422,
	"stickyHelper": 1,
	"stickyRight": 1
}