{
	"hosFruitCamScroll": "3",
	"hosFruitDropPos1": "1218,669",
	"hosFruitDropPos2": "1258,667",
	"hosFruitStall2": "1277,466",
	"hosFruitStallLeftLeft": "591,468",
	"hosFruitStallLeftRight": "121,466",
	"hosFruitStallOnlyLeft": 0,
	"hosFruitStallOnlyRight": 1,
	"hosFruitStallRightLeft": "1280,471",
	"hosFruitStallRightRight": "814,473"
}